*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar{
    background-color: black;
    color: white;
}
.navbar-brand{
    color: white;
    font-family:"Dancing script", cursive;
    font-weight: 900;
}
.navbar-brand:hover{
    color: white;
}
span{
    color: rgb(236, 83, 83);
    cursor: pointer;
}
.nav-item{
    padding-right: 50px;
}
.nav-link{
    color: white;
    text-transform: uppercase;
    font-family: sans-serif;
}
.nav-link:hover{
    color: rgb(236, 83, 83);
}
.form-inline{
    font-family:"Dancing script", cursive;
    color: rgb(236, 83, 83);
}

/* =======main==== */
.main{
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(./img/young-fitness-man-studio.jpg)no-repeat;
    background-size: cover;
    height: 110vh;
}
.main h1{
    font-size: 5rem;
    font-weight: 800;
}
.btn1{
    height: 55px;
    transition: 1s;
    width: 140px;
    color: white;
    border: 0px;
    outline: none;
    background: linear-gradient(90deg, #f5634b 0%, #fe9418 100%);
}
.btn1:hover{
    transition:  all 1s;
    background: linear-gradient(90deg,#fe9418 0%,  #f5634b 100%);
}

/* =====details===== */

.details{
    margin-top: -50px;
}
.details a{
    text-decoration: none;
    color: rgb(236, 83, 83);
}
.details h5{  
    font-size: 1.5rem;
    font-weight: 700;
}
.back{
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: all 0.8s;
}

.back::before{
    content: "";
    position: absolute;
    height: 0px;
    width: 100%;
    top: 0px;
    left: 0px;
    background: linear-gradient(90deg,#fe9418 0%,  #f5634b 100%);
    z-index: -1;
    transition: all 0.8s;
}

.back:hover{
  color: white;
  cursor: pointer;
}

.back:hover::before{
    height: 100%;  
}

.back a{
    color: rgb(236, 83, 83);
}
.back:hover a{
    color: white;
    cursor: pointer;
}

/* ========more====== */

.more h2{
    font-weight: 800;
}
.more p{
    font-weight: lighter;
}
p{
    font-size: 1.3rem;
}


/* ============DISCOVER==== */
.discover{
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(./img/water.jpg)no-repeat;
    background-size: cover;
    width: 100%;
}

.discover h1{
    font-weight: 800;
    font-size: 2.7rem;
}
/* ===========services========== */


.service h1{
    font-weight: 800;
    font-size: 2.8rem;
}

.service h5{
    font-weight: 700;
}
.font{
  font-size: 2.5rem;
}

.back:hover .font{
    color: white;
}

.course h1{
    font-weight: 800;
    font-size: 2.8rem;
}
.course .card{
    border:none;
}

.btn2{
    height: 55px;
    transition: 1s;
    width: 60%;
    color: white;
    border: 0px;
    outline: none;
    background: linear-gradient(90deg, #f5634b 0%, #fe9418 100%);
}
.btn2:hover{
    transition:  all 1s;
    background: linear-gradient(90deg,#fe9418 0%,  #f5634b 100%);
}


.footer{
    background-color: rgba(2, 5, 34, 0.945);
    color: white;
}
.footer h5, h4 {
    font-weight: 900;
}
.footer p{
    margin: 0;
    color: teal;
}
.links{
    cursor: pointer;
    transition: all,0.5s;
}
.links:hover{
    color: rgb(236, 83, 83);
    padding-left: 5px;
    transition: all 0.5s;
}

.link-icon{
    color: teal;
    font-size: 18px;
}

.social{
    font-size: 24px;
    color: white;
    transition: all 0.4s;
}

.social:hover{
    color: rgb(236, 83, 83);
    cursor: pointer;
    transition: all,0.5s;
}

.footer .card{
   background-color: black;

}